
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>IPA-IntelliPropAnalyzer</title>
  <meta name="description" content="" />
  <meta name="author" content="" />
  

  <!-- Favicons
    ================================================== -->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}" />
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}" />
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}" />

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}" />

  <!-- Stylesheet
    ================================================== -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%} " />

  
  <!--style sheet 2-->
  <link href="css/style2.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox/nivo-lightbox.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox/default.css' %}" />
  <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet'%}" />
  <link href="{% static 'https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet'%}" />
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Navigation
    ==========================================-->
  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span> <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">IPA-IntelliPropAnalyzer!</a>
        <!-- <div class="phone"><span>Call Today</span>320-123-4321</div>-->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about" class="page-scroll">About</a></li>
          <li><a href="#contact" class="page-scroll">Contact</a></li>
          <li><a href="/prediction" class="page-scroll">Prediction</a></li>
          <li><a href="admin/" class="page-scroll">Admin</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  </nav>
  <!-- Header -->
  <header id="header">
    <div class="intro">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 intro-text">
              <h1>IntelliPropAnalyzer</h1>
              <p>
                Welcome to IPA-IntelliPropAnalyzer!<br />
                Explore the future of intelligent property analysis. Discover
                insights, make informed decisions, and unlock the potential of
                real estate with our cutting-edge platform. Join us on this
                journey of discovery and innovation.
              </p>
              <a href="/prediction" class="btn btn-custom btn-lg page-scroll">Start Prediction</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- About Section -->
  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <img src="{% static 'img/img5.jpg' %}" class="img-responsive" alt="" />
          <img src="{% static 'img2.png' %}" class="img-responsive" alt="" />
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="about-text">
            <h2>Who We Are</h2>
            <p>
              At IntelliPropAnalyzer, we're more than just a web application.
              We're a team of passionate experts dedicated to revolutionizing
              property analysis. With a blend of cutting-edge technology and
              real estate insights, we're here to empower you with the tools
              you need to make informed decisions. Our mission is to simplify
              property analysis, making it accessible, accurate, and tailored
              to your needs. Welcome to a smarter way of understanding real
              estate with IPA-IntelliPropAnalyzer.
            </p>
            <div class="list-style">
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <ul>
                  <li>
                    <b>Intelligent Insights:</b> Our platform harnesses the
                    power of advanced algorithms to deliver in-depth insights
                    into property values, market trends, and investment
                    opportunities. Whether you're buying, selling, or
                    investing, our goal is to equip you with the knowledge you
                    need to succeed.
                  </li>
                  <li>
                    <b>Comprehensive Data:</b> Access a wealth of data, from
                    historical price trends to neighborhood demographics, all
                    at your fingertips. Our platform aggregates and analyzes
                    data from multiple sources to provide you with a holistic
                    view of the property landscape.
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <ul>
                  <li>
                    <b>User-Friendly Experience:</b> We believe that powerful
                    tools should also be easy to use. Our user-friendly
                    interface ensures that you can navigate through complex
                    data effortlessly, enabling you to make strategic
                    decisions confidently.
                  </li>
                  <li>
                    <b>Personalized Recommendations:</b> Tailored to your
                    preferences and goals, [Your Website Name] offers
                    personalized recommendations that align with your unique
                    needs. Let us be your partner in achieving real estate
                    success.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <img src="{% static 'img/img4.jpg' %}" class="img-responsive" alt="" />
        </div>
      </div>
    </div>
  </div>

  <!-- Contact Section -->
  <div id="contact">
    <div class="container">
      <div class="col-md-8">
        <div class="row">
          <div class="section-title">
            <h2>Get In Touch</h2>
            <p>
              Please fill out the form below to send us an email and we will
              get back to you as soon as possible.
            </p>
          </div>
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" id="name" class="form-control" placeholder="Name" required="required" />
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" id="email" class="form-control" placeholder="Email" required="required" />
                  <p class="help-block text-danger"></p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message"
                required></textarea>
              <p class="help-block text-danger"></p>
            </div>
            <div id="success"></div>
            <button type="submit" class="btn btn-custom btn-lg">
              Send Message
            </button>
          </form>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1 contact-info">
        <div class="contact-item">
          <h4>Contact Info</h4>
          <p>
            <span>Address</span>New Panvel-East,Navi Mumbai<br />
            Maharashtra,India
          </p>
        </div>
        <div class="contact-item">
          <p><span>Phone</span> 7401015564</p>
        </div>
        <div class="contact-item">
          <p><span>Email</span> iffatgulamsonday@gmail.com</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="social">
            <ul>
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Section -->
  <div id="footer">
    <div class="container text-center">
      <p>&copy; 2023 IPA-IntelliPropAnalyzer.</p>
    </div>
  </div>
  <script type="{% static 'text/javascript" src="js/jquery.1.11.1.js'%}"></script>
  <script type="{% static 'text/javascript" src="js/bootstrap.js'%}"></script>
  <script type="{% static 'text/javascript" src="js/SmoothScroll.js'%}"></script>
  <script type="{% static 'text/javascript" src="js/nivo-lightbox.js'%}"></script>
  <script type="{% static 'text/javascript" src="js/jqBootstrapValidation.js'%}"></script>
  <script type="{% static 'text/javascript" src="js/contact_me.js'%}"></script>
  <script type="{% static 'text/javascript" src="js/main.js'%}"></script>

</body>

</html>
